.b {
  display: flex;
}

.lr {
  flex-direction: row;
}

.tb {
  flex-direction: column;
}

.ps {
  justify-content: flex-start;
}

.pb {
  justify-content: space-between;
}

.pc {
  justify-content: center;
}

.ac {
  align-items: center;
}

.cc {
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  flex-grow: 1;
}

.btn-wrap {
  width: 90%;
  margin: 0 auto;
}

.btn {
  box-sizing: border-box;
  padding: 0 20rpx;
  font-size: 28rpx;
  height: 60rpx;
  line-height: 1;
  background: transparent;
  margin-bottom: 20rpx;
}

.btn:active {
  filter: grayscale(100%);
}

.btn-red {
  color: #e54d42;
}

.btn-red::after {
  border-color: #e54d42;
  border-radius: 60rpx;
}

.btn-olive {
  color: #8dc63f;
}

.btn-olive::after {
  border-color: #8dc63f;
  border-radius: 60rpx;
}

.btn-orange {
  color: #f37b1d;
}

.btn-orange::after {
  border-color: #f37b1d;
  border-radius: 60rpx;
}

.btn-cyan {
  color: #1cbbb4;
}

.btn-cyan::after {
  border-color: #1cbbb4;
  border-radius: 60rpx;
}

.btn-mauve {
  color: #9c26b0;
}

.btn-mauve::after {
  border-color: #9c26b0;
  border-radius: 60rpx;
}

.btn-pink {
  color: #e03997;
}

.btn-pink::after {
  border-color: #e03997;
  border-radius: 60rpx;
}

.btn-purple {
  color: #6739b6;
}

.btn-purple::after {
  border-color: #6739b6;
  border-radius: 60rpx;
}

.btn-brown {
  color: #a5673f;
}

.btn-brown::after {
  border-color: #a5673f;
  border-radius: 60rpx;
}

.btn-grey {
  color: #8799a3;
}

.btn-grey::after {
  border-color: #8799a3;
  border-radius: 60rpx;
}

.show-rst-wrap {
  padding: 20rpx 30rpx 50rpx;
}

.show-rst {
  font-size: 26rpx;
  color: #a3a3a3;
  line-height: 26rpx;
  margin-bottom: 15rpx;
  word-wrap: break-word;
}

.blue-date {
  color: blue;
}

.orange-date {
  color: #f40;
}

.tipsHead {
  display: flex;
  flex-direction: row;
  margin: 0 20rpx;
  .tipsHead-left {
    display: flex;
    flex-direction: row;
    width: 550rpx;
    align-items: center;
    font-size: 30rpx;
    image {
      width: 60rpx;
      margin-right: 10rpx;
    }
  }
  .tipsHead-right {
    display: flex;
    align-items: center;
    color: #bfbfbf;
    font-size: 24rpx;
  }
}

.tips {
  flex-direction: column;
  align-items: center;
  margin: 0 10rpx;
  .schedule {
    display: flex;
    flex-direction: row;
    margin-top: 15rpx;
    padding-bottom: 10rpx;
    border-bottom: 2rpx solid #dbd8d8;
    .time {
      display: flex;
      align-items: center;
      margin: 0 10rpx;
      flex-direction: column;
      width: 100rpx;
      height: auto;
    }
    .content {
      display: flex;
      border-left: 6rpx solid var(--themeColor);
      align-items: center;
      padding-left: 15rpx;
      font-size: 30rpx;
    }
  }
}

.add {
  position: fixed;
  right: 30rpx;
  bottom: 50rpx;
  width: 100rpx;
  height: 100rpx;
  z-index: 200;
  border-radius: 50rpx;
  background-color: white;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  box-shadow: 0rpx 4rpx 8rpx 4rpx #dddddd;
  border-width: 0rpx;
  .addimg {
    width: 50rpx;
    height: 50rpx;
    transform: translate(-10%, 5%);
  }
  .btn {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.addSchedule {
  position: fixed;
  bottom: 45rpx;
  right: 45rpx;
  image {
    width: 100rpx;
    height: auto;
  }
}
