/* components/HomeContent/HomeContent.wxss */
.contents {
  background-color: #ffffff;
  margin-bottom: auto;
  margin-top: 15rpx;
  margin-left: 25rpx;
  margin-right: 25rpx;
  margin-bottom: 15rpx;
  border-radius: 20rpx;
  box-shadow: 0 0 3px black;
  view {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom-style: dotted;
    border-bottom-color: var(--themeColor);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
  }
}

.contents view:nth-last-child(1) {
  border-bottom: 0;
}
