.search_input {
  height: 80rpx;
  padding: 8rpx;
  background-color: var(--themeColor);
  navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.search_icon {
  mode: "scaleToFill	";
  height: 2rpx;
  weight: 2rpx;
}
