.search_input {
  height: 80rpx;
  padding: 8rpx;
  background-color: var(--themeColor);
  navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
.search_icon {
  width: 15px;
  height: 15px;
}
